<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.stsproject2.dashboard.DashboardMapper">

	<select id="test" resultType="com.example.stsproject2.dashboard.dto.DashboardRes">
		SELECT
			LIST_KEY, LIST_TYPE, LIST_TITLE, LIST_CONTS
		FROM TB_LIST
		WHERE USE_YN = 'Y'
	</select>
</mapper>